main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: 15px;
}

.card {
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card:hover {
  cursor: pointer;
  border-color: blue;
}

.favorite {
  font-size: 28px;
}

.favorite > p:hover {
  cursor: pointer;
}

.name {
  font-size: 22px;
}