main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: 15px;
}

.card {
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card:hover {
  cursor: pointer;
  border-color: blue;
}

.name {
  font-size: 22px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 25
}

.material-symbols-outlined:active {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 25
}